body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
   
  }
  
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

/*profil*/
#ProfileName{
  color: white;
}
   .jumbotron {
      background-color: #0000ff;
      color: #fff;
      padding-top: 80px;
      font-family: Montserrat, sans-serif;
  }

    .details li {
      list-style: none;
    }

 .profil {
    background-color: #0000ff;
      color: #fff;
      padding-top: 80px;
      font-family: Montserrat, sans-serif;
  }

  #tloProfil{
    background-color: #0000ff;
  }

.w3-image{
    max-width: 60%;
}

/**/
/** navbar**/
  .navbar {
      margin-bottom: 0;
      background-color: #383232;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }

  .navbar li a {
      color: #fff !important;
  }

  .navbar-nav li a:hover{
      color: #0000ff !important;
      background-color: #fff !important;
  }
/**/
  
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #0000ff;
      margin-top: 30px;
  }

/**search w navbarze*/
 
    .form-control:focus{
        border-color: #0000ff;
    }

    button.btn.btn-default {
        line-height: 21px;
    }

    /***/

    /**komentarze tablica*/
textarea.form-control{
    border-radius: 0;
}
   
