body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

  .jumbotron {
      background-color: #0000ff;
      color: #fff;
      padding-top: 80px;
      font-family: Montserrat, sans-serif;
  }

.btn {
      padding-left: 8%;
      padding-right: 8%;
      border: 1px solid #0000ff;
      background-color: #fff !important;
      color: #0000ff;
    
  }

  .btn:hover {
      border: 1px solid #0000ff;
      background-color: #fff !important;
      color: #0000ff;
  }

  .btn-success,.btn-success:focus,.btn-success:active{
    background-color: #0000ff;
    border-color: #0000ff;
    padding-left: 8%;
    padding-right: 8%;
    outline: transparent;
    margin-left: 35%;
  }

  .btn-success.active.focus, .btn-success.active:focus, 
  .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus,
   .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus,
    .open>.dropdown-toggle.btn-success:hover{
    background-color: #0000ff;
    border-color: #0000ff;
    padding-left: 8%;
    padding-right: 8%;
    outline-color: transparent;
    }

    .btn-success:active:hover{
      color: #0000ff;
    }


  .navbar {
      margin-bottom: 0;
      background-color: #383232;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }

  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #0000ff !important;
      background-color: #fff !important;
  }

  .navbar-default {
      border-color: transparent;
      color: #fff !important;
  }

  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #0000ff;
      margin-top: 30px;
  }

.form-check{
  margin-left: 5%;
}


