body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

  .jumbotron {
      background-color: #0000ff;
      color: #fff;
      padding-top: 80px;
      font-family: Montserrat, sans-serif;
  }

  .navbar {
      margin-bottom: 0;
      background-color: #383232;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }

  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #0000ff !important;
      background-color: #fff !important;
  }

  .navbar-default {
      border-color: transparent;
      color: #fff !important;
  }

  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #0000ff;
      margin-top: 30px;
  }
#tury>tbody>tr:hover{
background-color: rgba(185, 11, 22, 0.42)!important;
}

.btn-link{
	color: #a51310;
}

.btn-link:focus, .btn-link:hover{
	color: #a51310;
	border: none;
}