.panel-primary{
    margin-top: 4%;
	border-color: #0000ff;
	padding: 0;
}

.panel-primary>.panel-heading{
	background-color: rgba(186, 94, 100, 0.92);
	border-color: #0000ff;
	padding-top: 0.5%;
	text-align: center;
}

.panel-primary>.panel-body{
	color: #000000;
	padding-top: 4%;
	}

	.answer{
	display: inline;
	}