<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <title>Chomik UJ</title>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'MainPage/style.css' %}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<SCRIPT type="text/javascript">
    function ValidateFileUpload() {
        var fuData = document.getElementById('exampleInputFile');
        var FileUploadPath = fuData.value;

//To check if user upload any file
        if (FileUploadPath == '') {
            alert("Please upload an image");

        } else {
            var Extension = FileUploadPath.substring(
                    FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

//The file uploaded is an image

if (Extension == "gif" || Extension == "png" || Extension == "bmp"
                    || Extension == "jpeg" || Extension == "jpg") {

// To Display
                if (fuData.files && fuData.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#blah').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(fuData.files[0]);
                }

            }

//The file upload is NOT an image
else {
                alert("Photo only allows file types of GIF, PNG, JPG, JPEG and BMP. ");

            }
        }
    }
</SCRIPT>

</head>
    {% block body %}

        <div class="jumbotron text-center">
            <h1>Chomik UJ</h1>
            <p>Wirtualny dysk</p>
        </div>

        <div class="container">
            <div class="row content">
                <div class="col-sm-1 ">
                </div>
                <div class="col-sm-10 text-left">
                    <h2 style="text-align: center;">Krok 2</h2>
                    <h3 style="color:red;">{{ error_message }}</h3>
                    <form class="form-horizontal" name = "MyForm" role="form" action="" onsubmit="return validateForm();" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

			    <div class="form-group row" style="display:inline;">
				    <div >Załączanie pliku</div>
				    <input type="file" id="exampleInputFile" onchange="return ValidateFileUpload()" name="photo">
			  	</div><br>

                        <div class="form-group row">
                            <label for="first_name">Imię:</label>
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                   placeholder="Imię">
                        </div>

                        <div class="form-group row">
                            <label for="lastname">Nazwisko:</label>
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                   placeholder="Nazwisko">
                        </div>

                        <div class="form-group row">
                            <label for="email">E-mail:</label>
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="E-mail">
                        </div>

                        <div class="form-group row">
                            <label for="lastname">Wiek:</label>
                            <input type="text" class="form-control" id="age" name="age"
                                   placeholder="Wiek">
                        </div>

                        <div class="form-group row">
                            <label for="miasto">Miasto:</label>
                            <input type="text" class="form-control" id="city" name="city"
                                   placeholder="Miasto">
                        </div>

                        <h2 style="text-align: center;">
                            <button onclick = "ValidateFileUpload();" type="submit" class="btn btn-default">Rejestruj</button>
                        </h2>
                    </form>
                </div>
                <div class="col-sm-1 ">
                </div>
            </div>
        </div>
    {% endblock %}
</html>