<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chomik UJ</title>
  <meta charset="utf-8">
    {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'MainPage/home2.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'MainPage/users.css' %}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{%  url 'MainPage:home' %}">PROFIL</a></li>
            <li><a href="{% url 'MainPage:settings' %}">USTAWIENIA</a></li>
            <li><a href="{%  url 'MainPage:show_profile_list' %}">UZYTKOWNICY</a></li>
            <li><a href="{%  url 'MainPage:follows' %}">OBSERWOWANI</a></li>
            <li><a href="{%  url 'MainPage:manage_files' %}">ZARZĄDZAJ PLIKAMI</a></li>
            <li><a href="{%  url 'MainPage:manage_comments' %}">KOMENTARZE</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
             <a class="navbar-brand" href="{% url 'MainPage:logout_user' %}">Wyloguj</a>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
  <h1>Chomik UJ</h1>
   <p>Wirtualny dysk</p>
</div>
{% for profile in profiles %}
<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="panel panel-primary col-md-8">
      <div class="panel-heading"><h3>{{ profile.first_name }} {{ profile.last_name }}</h3></div>
      <div class="panel-body">
        <div class="col-md-4"><a href = "{% url 'MainPage:show_profile' profile.id %}"><img class="img-circle img-responsive" alt="Avatar" src="{{ profile.photo.url }}"></a></div>
           <div class="col-md-6">
             <div class="row"><label for="music">Imię:  </label> <p id="name" class="answer">{{ profile.first_name }}</p></div><br>
               <div class="row"><label for="age">Nazwisko: </label> <p id="surname" class="answer">{{ profile.last_name }}</p></div><br>
               <form action="" method="post">
                   {% csrf_token %}
                    <button name=button value="{{profile.id}}" type="submit" formmethod="post">Unfollow</button>
                </form>
               {% csrf_token %}

           </div>
           </div>
    </div>
        <div class="col-md-2"></div>
    </div></div>
{% endfor %}
</body>