

<head>
  
  <title>{% block title %}Chomik UJ{% endblock %}</title>
    {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'MainPage/style.css' %}"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% block body %}
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <div class="jumbotron text-center">
            <h1>Chomik UJ</h1>
            <p>Wirtualny dysk</p>
        </div>

    <div class="container">    
        <div id="loginbox" style="margin-top:12%;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel" >
                    <div class="panel-heading">
                        <div class="panel-title">Zaloguj się</div>                    
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>            
                        <form id="loginform" class="form-horizontal" role="form" action="{% url 'MainPage:login'%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="login">
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="hasło">
                                    </div>
                                                       
                            <div class="input-group">
                                       <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Zapomniałeś hasła?</a></div>
                                    </div>

                                <div style="margin-top:10px" class="form-group">
                                    <div class="col-sm-12 controls">
                                      <button type="submit" class="btn btn-success">Zaloguj</button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 control" style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                            Nie mam konta! 
                                        <a href="{% url 'MainPage:register' %}">
                                           Zarejestruj się
                                        </a>
                                    </div>
                                </div>    
                            </form>     

                        </div>                     
                    </div>  
        </div>
    </div>
</body>
{% endblock %}


