<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
  <title>Chomik UJ</title>
  <meta charset="utf-8">
    {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'MainPage/home2.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'MainPage/users.css' %}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{%  url 'MainPage:home' %}">PROFIL</a></li>
            <li><a href="{% url 'MainPage:settings' %}">USTAWIENIA</a></li>
            <li><a href="{%  url 'MainPage:show_profile_list' %}">UZYTKOWNICY</a></li>
            <li><a href="{%  url 'MainPage:follows' %}">OBSERWOWANI</a></li>
            <li><a href="{%  url 'MainPage:manage_files' %}">ZARZĄDZAJ PLIKAMI</a></li>
            <li><a href="{%  url 'MainPage:manage_comments' %}">KOMENTARZE</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
             <a class="navbar-brand" href="{% url 'MainPage:logout_user' %}">Wyloguj</a>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
  <h1>Chomik UJ</h1>
   <p>Moja wirtualna wizytówka</p>
</div>
       {%  for field in timeline %}
      <div class="row">
        <div class="col-sm-2">
          <div class="thumbnail">
          <img class="img-responsive user-photo" src="{{ field.profile.photo.url }}" >
          </div>
          </div>
        <div class="col-sm-10">
          <div class="well" style="padding-top: 0; padding-left: 0; padding-right: 0;">
              <div class="panel panel-default">{{ field.profile.first_name }} {{ field.profile.last_name }}</div>
            <p>{{ field.text }}</p>
                                       <form action="" method="post">
                   {% csrf_token %}
                    <button name=button value="{{field.id}}" type="submit" formmethod="post">Usuń</button>
                </form>
          </div>
        </div>
      </div>
        {% endfor %}

</body>