<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
  <title>Chomik UJ</title>
  <meta charset="utf-8">
    {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'MainPage/home2.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'MainPage/users.css' %}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{%  url 'MainPage:home' %}">PROFIL</a></li>
            <li><a href="{% url 'MainPage:settings' %}">USTAWIENIA</a></li>
            <li><a href="{%  url 'MainPage:show_profile_list' %}">UZYTKOWNICY</a></li>
            <li><a href="{%  url 'MainPage:follows' %}">OBSERWOWANI</a></li>
            <li><a href="{%  url 'MainPage:manage_files' %}">ZARZĄDZAJ PLIKAMI</a></li>
            <li><a href="{%  url 'MainPage:manage_comments' %}">KOMENTARZE</a></li>
            <li><a class="navbar-brand" href="{% url 'MainPage:logout_user' %}">Wyloguj</a></li>
        </ul>
               <form class="navbar-form" role="search">
            {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Szukaj pliku" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" formmethod="post" ><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
</nav>
<div class="jumbotron text-center">
  <h1>Chomik UJ</h1>
   <p>Moja wirtualna wizytówka</p>
</div>
<h2 align="center">Wykorzystane miejsce:</h2>
{% if usedStorage >= 0 and usedStorage < 15 %}
<div class="progress" style="width:30%; margin:0 auto;">
      <div class="progress-bar" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" style="width:0%" >
    {{usedStorage}}%
  </div>
</div>

{% elif usedStorage > 15 and usedStorage < 50 %}
<div class="progress" style="width:30%; margin:0 auto;">
  <div class="progress-bar" role="progressbar" aria-valuenow="35"
  aria-valuemin="0" aria-valuemax="100" style="width:35%" >
    {{usedStorage}}%
  </div>
</div>

{% elif usedStorage > 50 and usedStorage < 60 %}
<div class="progress" style="width:30%; margin:0 auto;">
  <div class="progress-bar" role="progressbar" aria-valuenow="35"
  aria-valuemin="0" aria-valuemax="100" style="width:50%" >
    {{usedStorage}}%
  </div>
</div>

{% elif usedStorage > 60 and usedStorage < 80 %}
<div class="progress" style="width:30%; margin:0 auto;">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color: orange" >
    {{usedStorage}}%
  </div>
</div>

{% elif usedStorage > 80 %}
<div class="progress" style="width:30%; margin:0 auto;">
  <div class="progress-bar" role="progressbar" aria-valuenow="80"
  aria-valuemin="0" aria-valuemax="100" style="width:90%; background-color: darkred" >
    {{usedStorage}}%
  </div>
</div>

{% endif %}
{% for file in files %}
<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="panel panel-primary col-md-8">
      <div class="panel-body">
           <div class="col-md-6">
             <div class="row"><label for="name">Nazwa pliku: </label> <p id="name" class="answer">{{ file.name }}</p></div><br>
               <div class="row"><label for="date">Data dodania: </label> <p id="date" class="answer">{{ file.date }}</p></div><br>
               <div class="row"><label for="date">Rozmiar: </label> <p id="size" class="answer">{{ file.size }}</p></div><br>
               <form action="" method="post">
                   {% csrf_token %}
                    <button name=button value="{{file.id}}" type="submit" formmethod="post">Usuń</button>
                </form>
               {% csrf_token %}

           </div>
           </div>
    </div>
        <div class="col-md-2"></div>
    </div></div>
{% endfor %}
</body>