<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chomik UJ</title>
    <meta charset="utf-8">
        {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'MainPage/home2.css' %}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <SCRIPT type="text/javascript">
    function ValidateFileUpload()
    {
        var fuData = document.getElementById('exampleInputFile');
        var FileUploadPath = fuData.value;
        if (FileUploadPath == '')
        {
            alert("Załącz plik!");
        }

        var oFile = document.getElementById("exampleInputFile").files[0];

            if (oFile.size > 500000000) // 2 mb for bytes.
            {
                alert("Rozmiar pliku nie może przekraczać 0.5GB!");
            }
    }
</SCRIPT>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default" role="navigation">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{%  url 'MainPage:home' %}">PROFIL</a></li>
            <li><a href="{% url 'MainPage:settings' %}">USTAWIENIA</a></li>
            <li><a href="{%  url 'MainPage:show_profile_list' %}">UZYTKOWNICY</a></li>
            <li><a href="{%  url 'MainPage:follows' %}">OBSERWOWANI</a></li>
            <li><a href="{%  url 'MainPage:manage_files' %}">ZARZĄDZAJ PLIKAMI</a></li>
            <li><a href="{%  url 'MainPage:manage_comments' %}">KOMENTARZE</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
             <a class="navbar-brand" href="{% url 'MainPage:logout_user' %}">Wyloguj</a>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
  <h1>Chomik UJ</h1>
  <p>Wirtualny dysk</p>
</div>
<div class="container text-center" style="margin-top:3%;">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <img src="{{ profile.photo.url }}" class="img-circle img-responsive" alt="Avatar">
      </div>
         <div class="panel panel-default"><h3><strong>{{ profile.first_name }} {{ profile.last_name }}</strong></h3></div>
         <div class="well text-left">
      <p><label>Wiek: </label> {{ profile.age }}</p>
      <p><label>Miasto: </label>  {{ profile.city }}</p>
      <p><label>Mail: </label> {{ profile.email }} </p></div>
    </div>

    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12">
         <div class="well">
        <p>
          <a href="https://www.facebook.com/"><span class="label label-primary"><i class="fa fa-facebook-square"></i>Facebook</span></a>
          <a href="https://www.instagram.com/"><span class="label label-success"><i class="fa fa-instagram"></i>Instagram</span></a>
          <a href="https://www.youtube.com/?hl=pl&gl=PL"><span class="label label-danger"><i class="fa fa-youtube"></i>YouTube</span></a>
        </p>
      </div>
          <div class="panel panel-default text-left" >
          <div class="panel-heading">Dodaj post</div>
            <div class="panel-body">
               <form role="form" action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" type="text" name="text" placeholder="Your comments" rows="5"> </textarea>
                    </div>
                   <button type="submit" class="btn btn-success" style="background-color: #0000ff;border-color: #0000ff;">Submit</button>

                  <!--  <button class="btn btn-default" onclick="myFunction()">Dodaj</button>-->
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
<div class="col-sm-12">
<div class="panel panel-default "><h3>Posty użytkownika {{ profile.first_name }}</h3></div>
</div>
</div>
       {%  for field in timeline %}
      <div class="row">
        <div class="col-sm-2">
          <div class="thumbnail">
          <img class="img-responsive user-photo" src="{{ field.profile.photo.url }}" >
          </div>
          </div>
        <div class="col-sm-10">
          <div class="well" style="padding-top: 0; padding-left: 0; padding-right: 0;">
              <div class="panel panel-default">{{ field.profile.first_name }} {{ field.profile.last_name }}</div>
            <p>{{ field.text }}</p>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Moje pliki</p>
         <ul>
             {% for file in files %}
             <li style="word-wrap: break-word"><a href="{{file.file.url}}" download>{{file.name}}</a></li>
             {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Back <a href="https://www.w3schools.com" title="Visit w3schools"></a></p>
</footer>

<script>
$(document).ready(function(){
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    if (this.hash !== "") {

      event.preventDefault();

      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        window.location.hash = hash;
      });
    }
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
