{% block login_active %}active{% endblock %}
<head>
  <title>{% block title %}BusinessCard{% endblock %}</title>
    {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'MainPage/style.css' %}"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% block body %}
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{% url 'MainPage:login'%}">STRONA GLÓWNA</a></li>

      </ul>

    </div>
  </div>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
              <h3>Rejestracja</h3>
                <div class="panel-body  text-center" style="padding-left: 15%;">

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'MainPage/form_template.html' %}
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success">Dalej</button>
                            </div>
                    </form>
                </div>
        </div>
    <div class="col-sm-3"></div>
    </div>

</div>

{% endblock %}